<h2>Add a coupon for <%= @coupon.business.name %></h2>
<%= form_with model: @coupon, url: business_coupons_path do |f| %>
  <%= f.hidden_field(:business_id, value: @coupon.business_id) %>

  <%= render template: 'coupons/shared/coupon', locals: { f: f } %>

  <%= f.submit 'Add Coupon', class: 'btn btn-primary' %>
<% end %>
