<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @coupon.name %></h5>
    <p class="card-text"><%= @coupon.description %></p>
    <div class="barcode-display"><%= @coupon.barcode_svg %></div>
    <div class="card-footer text-muted">
      Valid <%= @coupon.start_date %> - <%= @coupon.end_date %>
    </div>
    <div class="btn-group" role="group" aria-label="coupon buttons">
      <%= link_to 'Back', business_path(@coupon.business), class: 'btn btn-northcenter' %>
      <% if current_admin %>
        <%= link_to 'Edit Coupon', edit_coupon_path(@coupon), class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
